@import '../Variables';
.annonces {
  min-height: 80vh;
  .filtres {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .filtreCategories {
      margin: 10px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .annonces-list {
    display: flex;
    .annonce {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 30px;
    }
  }
}
